<!-- Header página -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
          text="">
      </ion-back-button>
    </ion-buttons>
    <ion-title>Cambiar contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<!-- Contenido página -->
<ion-content>

  <!-- Contenedor formulario -->
  <div id="container"> 
    <p class="logoHome">Restablecer contraseña {{username}}</p>

    <!-- Formulario -->
    <form [formGroup]="persona" (ngSubmit)= "changePass()">

      <!-- Elementos + Etiquetas -->
      <ion-item>
        <ion-label position="stacked">Ingrese nueva contraseña:</ion-label>
        <ion-input formControlName="clave" minlength="3" required="true" type="password"></ion-input>
        <ion-label mode="ios" position="stacked" color="danger" *ngIf="persona.controls.clave.errors?.minlength && (clave.touched || clave.dirty)">Ingrese al menos 3 dígitos.</ion-label>
      </ion-item>

      <ion-input minlength="3" required="true" formControlName="usuario" value="asasasas" type="hidden"></ion-input>   
      <!-- Se mantiene el usuario con un input de tipo hydden para que este no sea visible al usuario. 
        este valor es obtenido mediante el usuario conectado mediante el local storage y enviado desde la pagina 1 mediante router navigator -->
      
      <ion-button class="btnRegUser" color="success" expand="block" type="submit">Restablecer contraseña</ion-button>
    </form>
 
  </div>
</ion-content>